/* THE BACKGROUND */
.contact {
    background-color: $grey;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* THE FORM */
.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    box-sizing: border-box;
    align-self: end;
}

.nameBox,
.emailBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    outline: none;
    border-bottom: 1px solid $yellow;
    letter-spacing: 3px;
    margin: 0 10px 20px 10px;
    width: 50%;
    justify-content: space-between;
    

    

    input {
        padding: 0 5px;
        height: 40px;
        border: none;
        background: none;
        color: $white;
        font-weight: 100;
    }
}

.nameEmail {
    display: flex;
    
    label {
        font-size: 1.4rem;
        color: $white;
    }
}

.messageBox {
    border: 1px solid $yellow;
    letter-spacing: 3px;
    color: $white;

    
        textarea{
            
            resize: none;
            border: none;
            background: none;
            color: $white;
            font-weight: 100;
            width: 100%;
            padding: 5%;

            ::placeholder {
                color: $white;
            }
        }

}

.postComment {
    width: 100%;
    margin-top: 4%;
}

.send {
    font-family: $alphaFont;
    font-size: 1.5rem;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1.5px;
    background-color: $orange;
    color: $white;
    margin: 0;
    padding: 6px 28px;
    border: none;

    &:hover {
        background-color: $white;
        color: $orange;
        transition: 0.7s;
    }
}

.newLine {
    display: block;
}

/* THE SOCIALS */
.socials {
    font-size: 1rem;
    list-style: none;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
    /* justify-content: flex-end; */
    /* width: calc(100% / 3 - 24px); */
    /* justify-content: space-evenly; */
    /* width: -30%; */
    /* box-sizing: border-box; */
    /* align-self: flex-end; */
    /* display: block; */
    /* color: $orange; */
    /* display: inline-block; */
}
