
/* SOCIALS */
.fa-brands,
.fa-solid,
.fa-regular,
.fa-duotone {
    font-size: 3rem;
    color: $yellow;
}


/* SKILLS */
.skills {
    background-color: $grey;
    padding-top: 1%;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8% auto;
    justify-content: center;
    list-style: none;

    p {
        text-transform: uppercase;
        color: $white;
        font-size: 0.9rem;
        font-weight: 100;
        text-align: center;
    }

    li {
        flex-basis: 20%;
        margin: 10px;
        padding: 10px;
    }
}


/* PROJECTS */
.projectIcons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 6% auto;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
