.socials {
    font-size: 2rem;
    /* color: $orange; */
    /* display: inline-block; */
    /* display: flex;
    flex-wrap: wrap; */
    margin: 10% auto;
    /* margin: 1%; */
    /* width: calc(100% / 3 - 24px); */
    justify-content: space-around;

}

.fa-brands,
.fa-solid,
.fa-regular,
.fa-duotone {
    font-size: 5rem;
    color: $yellow;
}

.skills {
    background-color: aliceblue;
    padding-top: 1%;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 8% auto;
    justify-content: center;

    p {
        text-transform: uppercase;
        color: $white;
        font-size: 0.9rem;
        font-weight: 100;
        text-align: center;
    }

    li {
        flex-basis: 20%;
        margin: 10px;
        padding: 10px;
    }
}

.projectIcons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 6% auto;
    /* justify-content: space-between; */

    .fa-brands {
        flex-basis: 20%;
        margin: 1%;
        display: inline-block;
    }

    /* width: calc(100% / 3 - 24px); */
}
