/* HEADER IMAGE */
header {
    background-image: url(../assets/spaceLightsHeader.JPEG);
    position: relative;
    background-size: cover;
    min-height: 100vh;
}


/* ABOUT SECTION */
.about {
    align-items: center;
    padding-top: 3%;
    border-radius: 10%;
}


/* ABOUT PICTURE & PROJECT SCREENSHOTS */
.about,
.projectSection,
.project {
    width: 100%;

    img {
        object-fit: contain;
        width: 100%;
        padding: 5%;
    }

    .midPic {
        background-color: $black;
        padding: 10%;
        padding-top: 0%;
    }
}


