
.about,
.projectSection {
    width: 100%;

    img {
        object-fit: contain;
        width: 100%;
        border-radius: 10px;
        padding: 10%;
    }
}

.about {
    align-items: center;
    padding-top: 3%;
    padding-bottom: 10%;
    border-radius: 10%;
}

.project01,
.project02,
.project03,
.project04 {
    width: 41%;

    img {
        object-fit: contain;
        width: 100%;
    }
}


/* CAN'T GET THIS TO WORK */
header {
    background-image: url(./assets/spaceLightsHeader.jpg);
    background-size: cover;
    min-height: 100vh;
}