/* 1300px */
@media (max-width: 1300px) {

/* CONTACT SECTION */
    .formBox {
        width: 100%;
    }
}


/* 1020px */
@media only screen and (max-width: 1020px) {

    /* HTML ELEMENT */

    html {
        font-size: 100%;
    }

/* NAVIGATION */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: $grey;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

/* BURGER ACTIVATION */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* PROJECTS */
    .projectSection {
        text-align: center;
    }
    
    .project01Description {
        width: 100%;
        margin-top: 3em;
        text-align: center;

        p {
            padding: 0;

        }
    }

    .descriptionIconsButts {
        flex-direction: column-reverse;
    }

}


/* 1000px */
@media (max-width: 1000px) {

/* CONTACT SECTION */
    .messageBox,
    .send {
        width: 85%;
    }

    .nameBox,
    .emailBox {
        width: 38%;
    }

}


/*  900px */
@media (max-width: 900px) {

/* CONTACT SECTION */
    .messageBox {
        top: 20%;
        left: 50%;
        width: 100%;
    }

}


/* 500px */
@media (max-width: 500px) {
    
/* CONTACT SECTION */
    .nameEmail {
        flex-direction: column;
        width: 100%;
    }

    .submit,
    .messageBox,
    .emailBox,
    .nameBox {
        width: 95%;
    }


    .formBox {
        align-self: center;
        
    }

    .nameEmail {
        flex-direction: column;
    }

    .nameBox,
    .emailBox {
        width: 100%;
    }

}
