/* 1300px */
@media (max-width: 1300px) {

    .formBox {
        width: 100%;
    }
}

/* 1000px */
@media (max-width: 1000px) {

    
    .messageBox,
    .send {
        width: 85%;
    }

    .nameBox,
    .emailBox {
        width: 38%;
    }

}

/*  900px */
@media (max-width: 900px) {


    .messageBox {
        top: 20%;
        left: 50%;
        width: 100%;
    }

}

/* 500px */


/* NAVIGATION */
@media (max-width: 500px) {
    ul {
        flex-direction: column;
    }

    .nameEmail {
        flex-direction: column;
        width: 100%;
    }

    .submit,
    .messageBox,
    .emailBox,
    .nameBox {
        width: 95%;
    }


    .formBox {
        align-self: center;
        
    }

    .nameEmail {
        flex-direction: column;
    }

    .nameBox,
    .emailBox {
        width: 100%;
    }

}
