/* NEU NAV */
li {
	font-size: 66.6%;
	font-family: $charlieFont;
	list-style: none;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: $white;
}

.nav-bar {
	border-bottom: 1px solid $white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem 1.5rem;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: padding 0.5s;
	z-index: 99999;
	
	&.at-top {
		padding: 1rem 1.5rem;
	}

	.socials {
		display: none;
	}
}

/* DIE BURGER */
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $grey;
}

/* DIE MENU */
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 2em;
}

.nav-link {
	font-size: 1.6em;
	font-weight: 400;

/* GLUHEN WIRKUNG */
	&:hover {
		transition: 0.4s ease-in-out;
		color: $orange;
	}
}


/* DIE LOGO */
.logo {
	font-size: 2.5rem;
	font-weight: 700;
	color: $grey;
	font-family: $charlieFont;

/* GLUHEN WIRKUNG */
	&:hover {
		transition: 0.4s ease-in;
		color: $orange;
	}
}
