/* NEU NAV */
li {
	font-size: 66.6%;
	font-family: $charlieFont;
	list-style: none;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: $white;
}

.nav-bar {
	border-bottom: 1px solid $white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

/* DIE BURGER */
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $grey;
}

/* DIE MENU */
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 2em;
}

.nav-link {
	font-size: 1.6em;
	font-weight: 400;
}

/* SCHWBEN WIRKUNG */
.nav-link:hover {
	transition: 0.4s ease-in-out;
	color: $orange;
}


/* DIE LOGO */
.logo {
	font-size: 2.5rem;
	font-weight: 700;
	color: $grey;
	font-family: $charlieFont;
}





/* ALT NAV */
/* nav ul {
	list-style: none;
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px 0;
}

nav ul li {
	margin: 1px 10px;
}

nav ul li a {
  font-family: $alphaFont;
	font-size: 21px;
	color: $white;
	padding: 10px 15px;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
    
}

nav ul li a:hover,
nav ul li a:focus {
    color: $orange;
	transition: 0.4s ease-in;
}

a {
    text-decoration: none;
    color: $white;
}

.projectButtons {
    text-decoration: none;
    font-family: $betaFont;
    font-size: 1.5rem;
    color: $grey;


    a:hover,
    a:focus {
    color: $orange;
	transition: 0.4s ease-in;
    }
}

.logo {
	display: flex;
	justify-content: space-between;
	margin: 6px;
	font-size: 40px;
	color: $white;
} */
