.button {
    background-color: $orange;
    border-radius: 10%;
    padding: 2%;
    transition: background-color 0.4s;
    
    &:hover {
        background-color: $blue;
        
    }

    i {
        font-size: 1em;
        color: $white;
        margin-right: 0.5em;
    }
}

.newLine {
    display: block;
}


.projects {
    padding: 10%;

    p {
        margin: 10%;
    }
}

.border01,
.border02,
.border03,
.border04 {
    border: 3px solid $orange;
    margin-bottom: 5%;
    padding: 0.5%;
}

.project01Description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-around;
    width: 54%;

    p {
        margin-top: 0;
    }

    .border01 {
        p {
            text-align: center;
        }
        
    }
}
.projectIconsWrapper {
    display: inline-block;
}
.descriptionIconsButts {
    display: flex;
}

.project02 {
    position: relative;

    img {
        position: absolute;
        top: -40px;
    }

    .project02Description {
        position: absolute;
        top: 40px;
    }
}

/* 
.project01,
.project01description,
.project01buttons,
.project02,
.project02description,
.project02buttons {
    width: 40%;

    img {
        object-fit: contain;
        width: 100%;
    }
} 
*/
