html {
    margin: 0;
    padding: 0;
    font-size: 125%;
}

body {
    /* font-family: $baseFont;
    color: $white; */
    background-color: #000;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: $alphaFont;
    font-size: 6.2rem;
    font-weight: 500;
    color: $orange;
    text-align: center;
    letter-spacing: 2.4px;
    padding-top: 100px;
    margin-bottom: 0;
}

h2,
h3,
h4 {
    color: $orange;
    font-family: $alphaFont;
    font-size: 2rem;
}

/* ABOUT SECTION */
.about {
   text-align: left;
   p {
    padding: 5%;
    margin-top: 1%;
    letter-spacing: 2px;
    line-height: 200%;
   } 

   h3 {
    text-align: center;
    margin-bottom: 1%;
   }
}

.socials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* PROJECTS */
.projectSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project01Description {
    text-align: left;

    p {
        padding-right: 5%;
        margin-top: 1%;
    }

    a:hover,
    a:focus {
    color: $orange;
	transition: 0.4s ease-in;
    }
    
    
}

h3 {
    text-align: center;
}

.projectDescription {
    padding-left: 10%;
}

/* FOOTER */
p,
footer {
    font-family: $betaFont;
    color: $white;
}

footer {
    background-color: $grey;
    text-align: center;
    margin: 0; 
    padding: 0.1%;
    color: $white;
    font-size: 1.5rem;
}