/* Colour Import */
$orange: #F06000;
$yellow: #FFA818;
$grey: #71797E;
$white: #ECE4DE;
$blue: #09133e;
$black: #0F0F0F;


/* Font Import */
$alphaFont: "Kdam Thmor Pro", sans-serif;
$betaFont: "Lato", sans-serif;
$charlieFont: "Noto Sans Ethiopic", sans-serif;

/* Partials Import */
@import "./partials/setup";
@import "./partials/typography";
@import "./partials/nav";
@import "./partials/icons";
@import "./partials/images";
@import "./partials/contact";
@import "./partials/projects";
@import "./partials/media";
@import "./partials/helpers";
