/* Colour Import */
/* Font Import */
/* Partials Import */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERAL */
html {
  margin: 0;
  padding: 0;
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #0F0F0F;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 6.2rem;
  font-weight: 500;
  color: #F06000;
  text-align: center;
  letter-spacing: 2.4px;
  padding-top: 100px;
  margin-bottom: 0;
}

h2,
h3,
h4 {
  color: #F06000;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 2rem;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

/* ABOUT */
.about {
  text-align: left;
}
.about p {
  padding: 5%;
  margin-top: 1%;
  letter-spacing: 2px;
  line-height: 200%;
}
.about h3 {
  text-align: center;
  margin-bottom: 1%;
}
.about a {
  color: #F06000;
}

/* SOCIALS */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* SKILLS */
/* PROJECTS */
.projectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project01Description {
  text-align: left;
}
.project01Description p {
  padding-right: 5%;
  margin-top: 1%;
}
.project01Description a:hover,
.project01Description a:focus {
  color: #F06000;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.projectDescription {
  padding-left: 10%;
}

/* FOOTER */
p,
footer {
  font-family: "Lato", sans-serif;
  color: #ECE4DE;
}

footer {
  background-color: #0F0F0F;
  text-align: center;
  margin: 0;
  padding: 0.7%;
  color: #ECE4DE;
  font-size: 1.5rem;
}

/* NEW NAV */
/* OLD NAV */
/* nav ul {
	list-style: none;
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px 0;
}

nav ul li {
	margin: 1px 10px;
}

nav ul li a {
  font-family: $alphaFont;
	font-size: 21px;
	color: $white;
	padding: 10px 15px;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

}

nav ul li a:hover,
nav ul li a:focus {
    color: $orange;
	transition: 0.4s ease-in;
}

a {
    text-decoration: none;
    color: $white;
}

.projectButtons {
    text-decoration: none;
    font-family: $betaFont;
    font-size: 1.5rem;
    color: $grey;


    a:hover,
    a:focus {
    color: $orange;
	transition: 0.4s ease-in;
    }
}

.logo {
	display: flex;
	justify-content: space-between;
	margin: 6px;
	font-size: 40px;
	color: $white;
} */
/* SOCIALS */
.fa-brands,
.fa-solid,
.fa-regular,
.fa-duotone {
  font-size: 3rem;
  color: #FFA818;
}

/* SKILLS */
.skills {
  background-color: #71797E;
  padding-top: 1%;
}

.skillContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8% auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.skillContainer p {
  text-transform: uppercase;
  color: #ECE4DE;
  font-size: 0.9rem;
  font-weight: 100;
  text-align: center;
}
.skillContainer li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 10px;
  padding: 10px;
}

/* PROJECTS */
.projectIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 6% auto;
  list-style: none;
  /* justify-content: space-between; */
  /* width: calc(100% / 3 - 24px); */
}
.projectIcons .fa-brands {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 1%;
  display: inline-block;
}

/* HEADER IMAGE */
header {
  background-image: url(../assets/spaceLightsHeader.JPEG);
  position: relative;
  background-size: cover;
  min-height: 100vh;
  background-image: -webkit-linear-gradient(top rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%);
}

/* ABOUT SECTION */
.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3%;
  /* padding-bottom: 2%; */
  border-radius: 10%;
}

/* ABOUT PICTURE & PROJECT SCREENSHOTS */
.about,
.projectSection,
.project {
  width: 100%;
}
.about img,
.projectSection img,
.project img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  padding: 5%;
}
.about .midPic,
.projectSection .midPic,
.project .midPic {
  background-color: #0F0F0F;
}

/* THE BACKGROUND */
.contact {
  background-color: #71797E;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* THE FORM */
.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: end;
      align-self: end;
}

.nameBox,
.emailBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  border-bottom: 1px solid #FFA818;
  letter-spacing: 3px;
  margin: 0 10px 20px 10px;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nameBox input,
.emailBox input {
  padding: 0 5px;
  height: 40px;
  border: none;
  background: none;
  color: #ECE4DE;
  font-weight: 100;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nameEmail label {
  font-size: 1.4rem;
  color: #ECE4DE;
}

.messageBox {
  border: 1px solid #FFA818;
  letter-spacing: 3px;
  color: #ECE4DE;
}
.messageBox textarea {
  resize: none;
  border: none;
  background: none;
  color: #ECE4DE;
  font-weight: 100;
  width: 100%;
  padding: 5%;
}
.messageBox textarea ::-webkit-input-placeholder {
  color: #ECE4DE;
}
.messageBox textarea ::-moz-placeholder {
  color: #ECE4DE;
}
.messageBox textarea :-ms-input-placeholder {
  color: #ECE4DE;
}
.messageBox textarea ::-ms-input-placeholder {
  color: #ECE4DE;
}
.messageBox textarea ::placeholder {
  color: #ECE4DE;
}

.postComment {
  width: 100%;
  margin-top: 4%;
}

.send {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.5px;
  background-color: #F06000;
  color: #ECE4DE;
  margin-top: 3%;
  padding: 6px 28px;
  border: none;
}
.send:hover {
  background-color: #ECE4DE;
  color: #F06000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.newLine {
  display: block;
}

/* THE SOCIALS */
.socials {
  font-size: 1rem;
  list-style: none;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fa-square-github:hover,
.fa-linkedin:hover,
.fa-medium:hover,
.fa-square-twitter:hover {
  color: #09133e;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

/* Example Starts - Project Section */
.button {
  background-color: #F06000;
  border-radius: 5px;
  padding: 6px 12px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.button:hover {
  background-color: #09133e;
}
.button i {
  font-size: 1em;
  color: #ECE4DE;
  margin-right: 0.5em;
}

/* Example Ends - Project Section */
/* .projectIcons {
    li,
    .skillIcon {
        justify-content: space-between;
    }
} */
/* Skills Section */
.skillIcons {
  font-size: 0.5em;
}

/* Skills Section */
.projects {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 6%;
}
.projects p {
  margin: 10%;
}

.border01,
.border02,
.border03,
.border04 {
  border: 3px solid #F06000;
  margin-bottom: 5%;
  padding: 0.5%;
}

.project01Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 54%;
}
.project01Description p {
  margin-top: 0;
}
.project01Description .border01 p {
  text-align: center;
}

.projectIconsWrapper {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.descriptionIconsButts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project02 {
  position: relative;
}
.project02 img {
  position: absolute;
  top: -40px;
}
.project02 .project02Description {
  position: absolute;
  top: 40px;
}

.project01Buttons,
.project02Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* 1300px */
@media (max-width: 1300px) {
  .formBox {
    width: 100%;
  }
}
/* 1000px */
@media (max-width: 1000px) {
  .messageBox,
.send {
    width: 85%;
  }
  .nameBox,
.emailBox {
    width: 38%;
  }
}
/*  900px */
@media (max-width: 900px) {
  .messageBox {
    top: 20%;
    left: 50%;
    width: 100%;
  }
}
/* 500px */
/* NAVIGATION */
@media (max-width: 500px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .submit,
.messageBox,
.emailBox,
.nameBox {
    width: 95%;
  }
  .formBox {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nameBox,
.emailBox {
    width: 100%;
  }
}